body {
    font-family: 'Segoe UI';
    background: white;
}

.bg-image {
    position: fixed;
    top: 0;
    width: 100%;
    height: 400px;
    opacity: 0.25;
    z-index: -1;
    background-size: cover;
    filter: blur(3px);
}

.title {
    font-size: 38px;
    text-align: center;
    color: #1a73e8;
    font-weight: bold;
}

.subtitle {
    text-align: center;
    color: gray;
}

.section {
    font-size: 26px;
    margin-top: 25px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin: 20px 0;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.footer {
    text-align: center;
    color: gray;
}